/* Footer.css */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set your desired background color */
    color: black; /* Set your desired text color */
    padding: 10px 0; /* Adjust padding as needed */

    border-top: 0.5px solid;
  }

  .container{
    display: flex;
   
  }

.section {
  margin-bottom: 20px; /* Add spacing between sections */
  margin-inline: 100px;
}

.section-title {
  font-weight: bold; /* Make section titles bold */
}

.section-content {
  /* Style for section content */
  text-align: center;

 } 

/* Style for social media icons */
.social-icons {
  font-size: 20px; /* Adjust icon size as needed */
}

.social-icons a {
  margin-right: 10px; /* Add spacing between icons */
  text-decoration: none;
  color: #333333; /* Set your desired icon color */
}

.social-icons a:hover {
  color: #007bff; /* Set hover color for icons */
}

.foot{
  margin-top: 2px;
}
  